* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background-color: black;

	p {
		color: white;
	}
}

canvas {
	background-color: rgb(25, 25, 25);
}

.myCanvas {
	cursor: crosshair;
}
